
body {
  margin: 0;
  font-display: optional;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer{
  background-color:transparent;
}


.icon-elite {
  background-image: url("./icons/elite.jpg");
}

.icon-jifeng {
  background-image: url("./icons/jifeng.jpg");
}

.icon-monicage {
  background-image: url("./icons/monicage.jpg");
}

.icon-popularbookmall {
  background-image: url("./icons/popularbookmall.jpg");
}

.icon-sisyphe {
  background-image: url("./icons/sisyphe.jpg");
}

.icon-xinhua {
  background-image: url("./icons/xinhua.jpg");
}

.icon-yanjiyou {
  background-image: url("./icons/yanjiyou.png");
}

.icon-zhongshuge {
  background-image: url("./icons/zhongshuge.jpg");
}
